@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/wallpaper.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
#telephone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 552px;
    width: 306px;
    background: url(../imagens/phone-mobile.png) no-repeat;
}
#tela{
    position: relative;
    top: 24px;
    left: 17px;
    width: 272px;
    height: 503px;
}
#socialmedia{
    text-align: right;
}
nav {
    display: inline-block;
    padding-top: 58vh;
    transform: translate(0, -25%);
}
#socialmedia img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    box-sizing: border-box;
}
#socialmedia img:hover{
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform .15s, border .15s;
}